:root {
  --navbar-height: 64px;
}

.navbar {
   position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);

  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(18px) saturate(140%);
  -webkit-backdrop-filter: blur(18px) saturate(140%);

  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  z-index: 1000;
}

.main-content {
  padding-top: var(--navbar-height);
}


.navbar::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0.12),
    rgba(255,255,255,0.02)
  );

  pointer-events: none;
}


.navbar-inner {
  position: relative;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  font-weight: 600;
  font-size: 1rem;
  color: white;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.navbar-links a {
  color: rgba(255,255,255,0.75);
  text-decoration: none;
  font-size: 0.95rem;
}

.navbar-links a:hover {
  color: white;
}
